html, body {
    margin: 0;
    padding: 0;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
}

.title{
    font-style: oblique;
    text-align: center;
    height: 80px;
    margin-top: 5%;
    color: orange;
}
.sud_bar { 
    height: 700px;
    padding: 20px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}
.dashbord_icon {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding:0;
        margin:0;
        width:0;
        transition: width 0.6s linear;
        }
/* .sud_bar.active ul {
            width: 10%;
            } */
.sud_bar ul li {
                transform: rotateY(0deg);
                opacity:0;
                transition: transform 0.6s linear, opacity 0.6s linear;
                }
.sud_bar.active ul li {
                    opacity: 1;
                    transform: rotateY(360deg);
                }
.sud_bar ul a {
                    position: relative;
                    color: black;
                    margin: 0 10px;
                    font-size: 1.2em;
                    }
.icon {
                        background-color: white;
                        border: 0;
                        cursor: pointer;
                        padding: 0;
                        height: 30px;
                        width: 30px;
                        position: relative;
                        }
.icon .line {
                            background-color: blue;
                            height: 2px;
                            width: 20px;
                            position: absolute;
                            top: 10px;
                            left: 5px;
    transition: transform 0.6s linear;
}
    .icon .line2 {
            top: auto;
            bottom: 10px;
        }
.sud_bar.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
    }
    .sud_bar.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
    }

.dashbord_icon{
    margin-top: 200px;
}
.containe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
.box_show{
    background-color:#D9D9D9 ;
    height: 700px;
    width: 1800px;
    border-radius: 35px;
    border-radius: 25px;
    overflow-y: scroll;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.show{
    background-color: whitesmoke;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
}
.show div:first-child{
    display: flex;
    align-items: center;
    gap: 50px;
}
.request_empty{
    width: 50%;
    height: 80%;
    border-radius: 25px;
    margin-top: 60px;
    margin-left: 20%;
}
.contein{
    background-color: rgba(85, 84, 84, 0.801);
    min-height: 100vh;
}